.page-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

header {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  margin: 32px auto;
  width: 50%;
}
